body {
  display: flex;
  justify-content: center;
  background-image: url("../svgs/cityscape1.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  margin: 0;
}

#robot-head {
  display: flex;
  flex-direction: column;
  background-image: url("../svgs/Robot_Head.svg");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 50vh;
  background-position: center;
}

h1 {
  display: flex;
  margin: 1vw auto;
  background-color: whitesmoke;
  border: .5vw inset slategray
}

form {
  display: flex;
  margin: 0 auto;
  background-color: slategrey;
  width: fit-content;
  border: .5vw inset grey;
  flex-direction: column;
  color: white;  
}

#display {
  display: flex;
  margin: 0 auto;
  position: relative;
}

p {
  display: flex;
  margin: 0 auto;
  background-color: slategrey;
  color: aliceblue;
  border: .5vw solid rgb(53, 50, 50) ; 
  text-align: center;
  border-radius: 5px;
  min-height: 10vh;
  min-width: 50vw;
  position: relative;
  max-height: fit-content;
}